{{ define "content" }}

  {{ $include_dict := dict "Site" .Site "page" . "image" .Site.Data.config.header.background_img }}
  {{ partial "header.html" $include_dict }}

  <div id="content" class="site-content">
    <main id="main" class="site-main inner">

      <div class="post-feed">
        {{ $posts := (.Site.GetPage "section" "/posts").Pages }}
        {{ $posts_count := $posts | len }}
        {{ if gt $posts_count 0 }}
          {{ $posts_sorted := $posts.ByDate.Reverse }}
          {{ range $post := $posts_sorted }}
          <article class="post">
            <header class="post-header">
              <h2 class="post-title"><a href="{{ $post.URL }}" rel="bookmark">{{ $post.Params.title }}</a></h2>
              <div class="post-meta">
                Published on <time class="published"
                  datetime="{{ $post.Date | dateFormat "2006-01-02 15:04" }}">{{ $post.Date | dateFormat "January 02, 2006" }}</time>
              </div>
            </header><!-- .post-header -->
            {{ if $post.Params.thumb_img_path }}
            <a class="post-thumbnail" href="{{ $post.URL }}">
              <img class="thumbnail" src="{{ $post.Params.thumb_img_path | relURL }}" alt="{{ $post.Params.thumb_img_alt }}" />
            </a>
            {{ end }}
            <div class="post-content">
              <p>{{ $post.Params.excerpt }}</p>
            </div><!-- .post-content -->
            {{ if and (eq $.Params.has_more_link true) $.Params.more_link_text }}
            <p class="read-more">
              <a class="read-more-link" href="{{ $post.URL }}">{{ $.Params.more_link_text }} <span class="icon-arrow-right" aria-hidden="true"></span></a>
            </p>
            {{ end }}
          </article><!-- .post -->
          {{ end }}
        {{ end }}
      </div><!-- .post-feed -->

    </main><!-- .site-main -->

    {{ partial "footer.html" $include_dict }}

  </div><!-- .site-content -->

{{ end }}
